<div class="wrapper">
  <form [formGroup]="form" class="form">

    <label>username</label>
    <input formControlName="username" type="text" class="form__username">

    <label>password</label>
    <input minlength="8" formControlName="password" type="password" class="form__password">

    <div
      [ngClass]="{
      'untouched-form': form.untouched || form.touched,
      'invalid-form': form.touched && !form.valid,
      'easy': isEasyPassword() && form.valid,
      'medium' : isMediumPassword() && form.valid,
      'strong' : isStrongPassword() && form.valid,
      }"
      class="form__password_quality">

      <div></div>
      <div></div>
      <div></div>

    </div>

    <button [disabled]="true" class="form__submit_button" (click)="submitForm()">Submit</button>

  </form>
</div>


